name: invoiceninja_flutter
description: Mobile app for Invoice Ninja
version: 0.1.4
author: Hillel Coren
homepage: https://www.invoiceninja.com
documentation: http://docs.invoiceninja.com

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_redux: ^0.5.0
  redux_logging: ^0.3.0
  http: ^0.11.3+16
  path_provider: ^0.4.0
  shared_preferences: ^0.4.1
  font_awesome_flutter: ^6.0.0
  built_value: ^5.4.5
  built_collection: ^3.1.1
  memoize: ^1.4.0
  url_launcher: ^3.0.2
  #cached_network_image: ^0.4.1
  share: ^0.5.2
  intl: ^0.15.6
  flutter_pdf_viewer: ^0.0.2
  flutter_html_view: ^0.5.2
  google_sign_in: ^3.0.4
  firebase_auth: ^0.5.14

dev_dependencies:
  flutter_driver:
    sdk: flutter
  #flutter_test:
  #  sdk: flutter
  build_runner: ^0.8.9
  built_value_generator: ^5.4.5

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/logo.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies, 
  # see https://flutter.io/custom-fonts/#from-packages
