class Config {
  static const String API_SECRET = '';
  static const String SENTRY_DNS = 'https://21e3763afb044f1fb75d832fd9f06b73@sentry2.invoicing.co/3';
  static const String MICROSOFT_CLIENT_ID = '1023b9ce-5b09-4f04-98f8-e1ed85a72332';

  static const bool DEBUG_EVENTS = false;
  static const bool DEBUG_REQUESTS = false;
  static const bool DEMO_MODE = false;

  static const String TEST_EMAIL = 'demo@invoiceninja.com';
  static const String TEST_PASSWORD = 'Password0';
  static const String TEST_URL = 'https://demo.invoiceninja.com';
  static const String TEST_SECRET = '';
}
