class Config {
  static const String API_SECRET = 'secret';
  static const String SENTRY_DNS = 'dns';

  static const bool DEMO_MODE = false;

  static const String TEST_EMAIL = 'user@example.com';
  static const String TEST_PASSWORD = 'password';
  static const String TEST_URL = 'https://example.com';
  static const String TEST_SECRET = 'secret';
}
