class Config {
  static const String LOGIN_EMAIL = 'user@example.com';
  static const String LOGIN_PASSWORD = 'passowrd';
  static const String LOGIN_URL = 'http://www.ninja.test';
  static const String LOGIN_SECRET = 'secret';
  static const String API_SECRET = 'secret';
  static const String SENTRY_DNS = '';
  static const String PLATFORM = '';
}
