[Desktop Entry]
Name=Invoice Ninja
Comment=Online Invoicing
Exec=${SNAP}/bin/Invoice_Ninja
Icon=${SNAP}/meta/gui/invoiceninja-flutter.png
Terminal=false
Type=Application
Categories=Office;