[Desktop Entry]
Name=Invoice Ninja
Comment=Create invoices, accept payments, track expenses & time tasks
Exec=invoiceninja
Icon=${SNAP}/meta/gui/invoiceninja.png
Terminal=false
Type=Application
Categories=Office;Finance;