[Desktop Entry]
Name=Invoice Ninja
Comment=Online Invoicing
Exec=invoiceninja-flutter
Icon=${SNAP}/meta/gui/invoiceninja-flutter.png
Terminal=false
Type=Application
Categories=Office;