[Desktop Entry]
Name=Invoice Ninja
Comment=Online Invoicing
Exec=Invoice_Ninja
Icon=${SNAP}/meta/gui/Invoice_Ninja.png
Terminal=false
Type=Application
Categories=Office;