[Desktop Entry]
Name=Invoice Ninja
Comment=Online Invoicing
Exec=invoiceninja
Icon=${SNAP}/meta/gui/invoiceninja.png
Terminal=false
Type=Application
Categories=Office;